:host{
    padding: 2.5rem;
    display: block;
}
.user-section__header{
    height: 60px;
    h1{
        font-size: 36px;
    }
}
.primary-header{
    display: flex;
    justify-content: space-between;
}
.wrapper {
    margin-top:1rem ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }

  